{% extends 'blog/base.html' %}
{% block content %}

<!-- Hero Image Section -->
<div class="hero-image">
  <img src="{{ 'media/images/amigo_blog.png' }}" alt="Hero Image" class="img-fluid">
</div>

<!-- Blog Posts Section -->
{% for post in posts %}
<article class="media content-section">
  <img class="rounded-circle article-img" src="{{ post.author.profile.image.url }}" alt="">
  <div class="media-body">
    <div class="article-metadata">
      <a class="mr-2" href="#">{{ post.author }}</a>
      <small class="text-muted">{{ post.date_posted }}</small>
    </div>
    <h2><a class="article-title" href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h2>
    <p class="article-content">{{ post.get_excerpt }}</p>
    <a href="{% url 'post-detail' post.id %}">Read more</a>
  </div>
  <br>
</article>
{% endfor %}
{% endblock content %}
